@keyframes fadeIn {
  from { opacity:0 }
  to { opacity:1 }
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background: rgb(41,41,41);
  color: white;
  font: 12pt 'Fira Sans';
  font-weight: 200;
  font-style: normal;
  border-top: 4px solid white;
}

a {
  color: white;
}

header {
  width: 100%;
  position: absolute;
  z-index: 2;
}

#tabzilla {
  position: relative;
  right: 2em;
}

.container {
  position: relative;
}

.top {
  text-align: center;
  height: 708px;
  position: relative;
  background: url('/images/banner.jpg');
  background-position: 50% 0;
  background-size: cover;
}

.top::before {
  opacity: 0;
  position: absolute;
  background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.2) 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: ' ';
  animation: fadeIn 1s ease-in;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

h1 {
  text-align: center;
  font-weight: 200;
  font-size: 5rem;
  margin: 0;
}

.top .content,
.top .content hr,
.top .content p {
  opacity: 0;
  animation: fadeIn 1s ease-in;
  animation-duration: 0.3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.top .content hr {
  animation-delay: 0.5s;
}

.top .content p {
  animation-delay: 0.6s;
}

hr {
  width: 85px;
  background-color: white;
  height: 1px;
  border: 0;
  margin: 2em auto;
}

.top p {
  font-style: italic;
  font-size: 1.5rem;
}

.top .attribution {
  position: absolute;
  bottom: 1em;
  right: 2em;
  font-size: .85em;
}

.top .attribution,
.top .attribution a {
  color: rgb(175,178,181);
}

.top .container {
  display: flex;
  align-items: center;
  height: 100%;
}

.content {
  max-width: 940px;
  margin: 0 auto;
}

.site-description {
  text-align: center;
  font-weight: 300;
  font-size: 1.25rem;
  font-style: italic;
  background: rgb(177,173,170);
  padding: 2em 0;
  line-height: 200%;
}

.site-description .content p {
  padding: 0 2em;
}

.row {
  height: 585px;
  color: white;
  display: flex;
  align-items: center;
}

.row h1 {
  font-weight: 200;
  font-size: 4rem;
}

.row hr {
  margin-top: .5em;
  margin-bottom: 1em;
}

.row div {
  width: 50%;
  text-align: center;
}

.row div p {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2em;
  font-size: 1.2em;
}

.row .description .report-button {
  background: transparent;
  border: 1px solid rgb(246,220,228);
  display: inline-block;
  width: auto;
  font-size: 1em;
  font-family: 'Fira Sans';
  font-weight: 300;
  padding: .75em 2em;
  text-transform: uppercase;
  color: white;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  transition: background-color .15s, color .15s;
}

.row .description .report-button:hover {
  background-color: white;
}

.row.chicago .report-button:hover {
  color: rgb(221,136,160);
}
.row.rio .report-button:hover {
  color: rgb(154,180,154);
}
.row.synthesis .report-button:hover {
  color: rgb(167,120,140);
}
.row.india .report-button:hover {
  color: rgb(236,193,127);
}
.row.kenya .report-button:hover {
  color: rgb(189,187,136);
}
.row.bangladesh .report-button:hover {
  color: rgb(122,184,187);
}

.row .image {
  background-size: cover;
  height: 100%;
}

.row.chicago {
  background: rgb(221,136,160);
}
.row.chicago .image {
  background-image: url('/images/chicago.jpg');
}

.row.rio {
  background: rgb(154,180,154);
}
.row.rio .image {
  background-image: url('/images/rio.jpg');
  background-position: 50%;
}

.row.synthesis {
  background: rgb(167,120,140);
}
.row.synthesis .image {
  background-image: url('/images/synthesis.jpg');
  background-position: 50%;
}

.row.india {
  background: rgb(236,193,127);
}
.row.india .image {
  background-image: url('/images/india.jpg');
  background-position: 50%;
}

.row.kenya {
  background: rgb(189,187,136);
}
.row.kenya .image {
  background-image: url('/images/kenya.jpg');
  background-position: 50%;
}

.row.bangladesh {
  background: rgb(122,184,187);
}
.row.bangladesh .image {
  background-image: url('/images/bangladesh.jpg');
  background-position: 50%;
}

footer {
  background: rgb(77,77,77);
  color: rgb(138,138,138);
  padding: 2em 0;
  padding-bottom: 1em;
  text-align: center;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul li {
  font-weight: 400;
  display: inline-block;
  padding: 0 1.5em;
  padding-left: 20px;
  position: relative;
}

footer ul li a {
  color: rgb(200,200,200);
  opacity: .7;
  text-decoration: none;
  transition: opacity .1s linear;
}

footer ul li a:hover {
  opacity: 1;
}

footer ul li .icon {
  opacity: 0.8;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 2px;
  left: -5px;
  background-repeat: no-repeat;
  background-position: center;
}

footer ul li .icon.email {
  background-image: url('/images/footer-icon-email.svg');
}
footer ul li .icon.twitter {
  background-image: url('/images/footer-icon-twitter.svg');
}
footer ul li .icon.github {
  background-image: url('/images/footer-icon-github.svg');
}
footer ul li .icon.flickr {
  background-image: url('/images/footer-icon-flickr.svg');
}

footer .mozilla-logo {
  font-weight: 500;
  font-size: 2rem;
}

footer .mozilla-logo a {
  text-decoration: none;
  color: rgb(138,138,138);
  transition: color .1s linear;
}

footer .mozilla-logo a:hover {
  color: rgb(200,200,200);
}

