doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Mozilla Research: Studying the Global Web. Stories and insights from 600 people in 22 communities in 7 countries around the world.')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='Mozilla Research: Studying the Global Web')
    meta(property='og:locale', content='en_US')
    meta(property='og:url', content='https://build.webmaker.org/research/')
    meta(property='og:image', content='https://mozorg.cdn.mozilla.net/media/img/home/page-image.3af4522ff5e7.png')
    meta(property='og:title', content='Mozilla Research: Studying the Global Web')
    meta(property='og:description', content='Mozilla Research: Studying the Global Web. Stories and insights from 600 people in 22 communities in 7 countries around the world.')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@webmaker')
    meta(name='twitter:domain', content='webmaker.org')
    link(rel='stylesheet', href='css/main.compiled.css')
    link(rel='stylesheet', href='//code.cdn.mozilla.net/fonts/fira.css')
    title Studying the Global Web
  body
    header
